body{
font-family: 'Roboto', 'Raleway' sans-serif;
background-color: #FFFFFF;
}

/** ------------------HEADER----------------- */

.header-logo-link{
font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    color: #2E2F42;
background-color: #E7E9FC;
}
.header-logo-iris{
color: #4D5AE5;
}
.header-about-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
color: #2E2F42;
background-color: #E7E9FC;
}
.header-feedback-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
color: #434455;
background-color: #E7E9FC;
text-decoration: none;
}
.header-feedback-link:hover,
.header-feedback-link:focus{
    color: #404BBF;
}
.header-about-text:hover,
.header-about-text:focus{
    color: #404BBF;
}
.header-about-list{
    list-style-type: none;
}
.header-feedback-list{
    list-style-type: none;
}
.header-about-text{
    text-decoration: none;
    color: #2E2F42;
    background-color: #E7E9FC;
}
/** ------------------MAIN----------------- */

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #2E2F42;
    color: #FFFFFF;
}
.hero-button{
background-color: #4D5AE5;
cursor: pointer;
}
.hero-button-text{
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: left;
color: #FFFFFF;
}
.advantages-topic{
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
}
.advantages-item-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
      color: #434455;
}
.advantages-list{
 list-style-type: none;   
}
.heading-title{
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}
.work-examples-item{
list-style-type: none;
}
.workers.topic{
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
}
.workers-list-item{
list-style-type: none;
}
.workers-item-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}
/** ------------------FOOTER----------------- */
.footer-logo-link {
font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    color: #F4F4FD;;
    background-color: #2E2F42;
}

.footer-logo-iris {
    color: #4D5AE5;
}
.footer-text{
    font-family: Roboto;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #F4F4FD;
        background-color: #2E2F42;
}
/** ------------------PORTFOLIO----------------- */
.all-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
}
.all-button-text{
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
}
.portfolio-button {
    background-color:#F4F4FD;
    color: #4D5AE5;
    cursor: pointer;
}

.portfolio-button-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
}
.button-list{
    list-style-type: none;
}
.portfolio-examples-list{
    list-style-type: none;
}
.portfolio-examples-item{
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        background-color: #E7E9FC;
}
.portfolio-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}